/* .flex {
    display: flex;
    gap: 16px;
    font-size: 20px;
} */

.link {
    box-shadow: 2px 2px 6px rgb(24, 21, 51);
    display: inline-block;
    margin-top: 40px;
    width: 200px;
    padding: 10px 16px;
    color: rgb(172, 177, 177);
    font-size: 20px;
    border-radius: 50px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(27, 17, 44);
    transition: all 250ms ease-in-out;
}